In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ponta Do Sol,PT,2020-05-09 21:54:28,32.67,-17.10,68.00,68,40,6.93
1,1,Alofi,NU,2020-05-09 21:54:28,-19.06,-169.92,82.40,78,58,9.17
2,2,Ouallam,NE,2020-05-09 21:54:28,14.32,2.09,87.67,25,23,1.30
3,3,Beaverlodge,CA,2020-05-09 21:54:28,55.22,-119.44,53.60,32,20,17.22
4,4,Mataura,NZ,2020-05-09 21:54:28,-46.19,168.86,51.67,72,48,3.91

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [46]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Alofi,NU,2020-05-09 21:54:28,-19.06,-169.92,82.40,78,58,9.17
2,2,Ouallam,NE,2020-05-09 21:54:28,14.32,2.09,87.67,25,23,1.30
6,6,Mitu,CO,2020-05-09 21:54:28,1.20,-70.17,78.39,95,98,0.56
11,11,Faanui,PF,2020-05-09 21:54:29,-16.48,-151.75,81.50,79,22,16.98
16,16,Borba,BR,2020-05-09 21:54:29,-4.39,-59.59,78.94,88,97,0.78
19,19,Tabou,CI,2020-05-09 21:54:29,4.42,-7.35,80.55,85,94,10.29
20,20,Manokwari,ID,2020-05-09 21:54:29,-0.87,134.08,81.43,77,65,1.43
27,27,Conde,BR,2020-05-09 21:54:30,-7.26,-34.91,78.80,78,20,8.05
28,28,Darapidap,PH,2020-05-09 21:54:30,17.21,120.41,80.92,71,4,3.00
31,31,Fare,PF,2020-05-09 21:54:30,-16.70,-151.02,81.68,79,1,16.71

In [47]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
1       Alofi      NU     82.40 -19.06 -169.92
2     Ouallam      NE     87.67  14.32    2.09
6        Mitu      CO     78.39   1.20  -70.17
11     Faanui      PF     81.50 -16.48 -151.75
16      Borba      BR     78.94  -4.39  -59.59
19      Tabou      CI     80.55   4.42   -7.35
20  Manokwari      ID     81.43  -0.87  134.08
27      Conde      BR     78.80  -7.26  -34.91
28  Darapidap      PH     80.92  17.21  120.41
31       Fare      PF     81.68 -16.70 -151.02

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Alofi,NU,82.40,-19.06,-169.92,Taloa Heights
2,Ouallam,NE,87.67,14.32,2.09,
6,Mitu,CO,78.39,1.20,-70.17,
11,Faanui,PF,81.50,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
16,Borba,BR,78.94,-4.39,-59.59,Hotel da Amazônia
19,Tabou,CI,80.55,4.42,-7.35,hotêl doufoulougou
20,Manokwari,ID,81.43,-0.87,134.08,Swiss Belhotel Manokwari
27,Conde,BR,78.80,-7.26,-34.91,Pousada Beija Flor
28,Darapidap,PH,80.92,17.21,120.41,
31,Fare,PF,81.68,-16.70,-151.02,Maitai Lapita Village Huahine

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))